{
  "application": {
    "cf_api": "https://api.fr.cloud.gov",
    "space_name": "local"
  },
  "services": {
    "aws-elasticache-redis": [
      {
        "name": "federalist-local-redis",
        "credentials": {
          "uri": "<REDIS URI>"
        }
      }
    ],
    "user-provided": [
      {
        "name": "federalist-local-sqs-creds",
        "credentials": {
          "accessKeyId": "<ACCESS KEY ID>",
          "secretAccessKey": "<SECRET ACCESS KEY>",
          "region": "<REGION>",
          "sqs_url": "<SQS URL>"
        }
      },
      {
        "name": "federalist-deploy-user",
        "credentials": {
          "DEPLOY_USER_USERNAME": "<USERNAME>",
          "DEPLOY_USER_PASSWORD": "<PASSWORD>"
        }
      }
    ]
  }
}
