{
  "extends": "airbnb-base",
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/test/**/*.js"]}],
    "no-underscore-dangle": [0],
    "class-methods-use-this": [0],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }]
  }
}
