language: node_js
sudo: true
node_js:
- "4.2.3"
env:
  global:
  - CF_APP=federalist-builder
  - CF_API=https://api.cloud.gov
  - CF_USERNAME=deploy-federalist
  - CF_ORGANIZATION=federalist
  - CF_SPACE=prod
  # CF_PASSWORD for deploy-federalist user
  - secure: "OhaoSZh2Glurc3ilIsddS4im/canoc2vNkON0haIxPepnQumL6bkwWD8xPi0gotYI28AHr9KZgkhPTDI8rKx/wVI+R98BTnxmpur9487jATplgeAkkWsxQIZki4V5TnNS01cLWhboR6Ge48Ryi0YdSYaP02jahAkoeTbgYzqLw9yBtOF5RccS8yV7SbnTJ6qT+b1Y85he/K39qYmvCGhCLhTM2KCjJnidaxj5ZUSNX2+0Bd3wq9L82qpY2eROu9f5AuEQV2hAkg+0i4+hhQc3kBO2WHAOgZADE3FWPY1KQofeLDRlr2GosnZAtFYFp6pFwiALqi2q1+y3IA+t5/eVUDMVxgbl1BdMkjJ6GLJyaghkO5qF59hKYET8P15FPiT3QqeTi/Fpd7impZt+CI9fd3PcFgb4wuHJfEjHnE9BlyZ8hN+zWS49+tyMRsrGY+kWZH1lhgiFpStWcNCmNCpcMExoGidFsrzIXfpDCVa6X4Ilr+dPjR6PcchjcyYa1Wf20TiDGyxUlu+pcfgHG8skTXbV3g20V63kO59xhG+lz8OlTn1TKtyv8pOnjKqQ/OvSY1/L/MMc0q1ASwTfdZ991uCT+soTu2yT5x355q+82YKyWyMo1Pi5cTFyY3wdAntp1h8lxiLXAlBQqkcGPqHRzDDhgDaWAkSe6j8rzXOAGQ="
deploy:
  provider: script
  script: scripts/deploy-travis.sh
  on:
    branch: master
